// .body__page-collection {
// 	.container {
// 		max-width: @gridRowWidth;
// 		margin: 0 auto;
// 	}
// }


.collection__section {
	display: block;
}

	.collection__grid {
		margin: 0;
		padding: 0;
		display: block;
		overflow: hidden;
		font-size: 0;
		line-height: 0;
		text-align: center;
	}

		.collection__grid-itm {
			display: inline-block;
			vertical-align: top;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			height: 800px;
			max-width: 640px;
			width: 50%;
			.background-size(640px auto);
			position: relative;
			
			background-image: url(/images/st/product.png);
			overflow: hidden;
		}

			.collection__item-marks {
			}

				.collection__item-mark {
					position: absolute;
					top: 50%;
					left: 50%;
				}

				.collection__item-mark1 {
					margin-top: 0;
					margin-left: 0;
				}

				.collection__item-mark2 {
					margin-top: -204px;
					margin-left: -158px;
				}

				.collection__item-mark3 {
					margin-top: 245px;
					margin-left: -220px;
				}

				.collection__item-mark4 {
					margin-top: 208px;
					margin-left: 112px;
				}

					.collection__item-mark-a {
						display: block;
						margin-top: -24px;
						margin-left: -24px;
					}